---
import Layout from '@/layouts/Layout.astro';
import { Navbar } from '@/components/navbar/Navbar';
import { Hero } from '@/components/sections/Hero';
import { Skills } from '@/components/sections/Skills'; 
import { About } from '@/components/sections/About';
import { Projects } from '@/components/sections/Projects';
import { Contact } from '@/components/sections/Contact';
---

<Layout title="Ignacio | Desarrollador Full Stack">
  <main class="relative bg-background">
    
    <Navbar client:load />
    <div id="inicio"><Hero client:load /></div>
    <About client:visible />
    <Skills client:visible />
    <Projects client:visible />
    <Contact client:visible />

  </main>
</Layout>